a{
    color: #000;
}
.gallery-item {
    background-color: white;
    padding: 10px;
    -webkit-box-shadow: inset 0 0 1px #666;
    -moz-box-shadow: inset 0 0 1px #666;
    box-shadow: inset 0 0 1px #666;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.gallery-item .content-gallery {
    text-align: center;
}
.overlay{
    display: none;
}
.gallery-item img {
    width: 100%;
}
a:hover{
    color: #32c5d2;
    cursor: pointer;
}
.open>a{
    background-color: #9E9E9E!important;
}
