<style>
    body {
        background-color: #364150 !important;
    }

    .page-footer {
        display: block !important;
        color: white !important;
        text-align: center;
    }

    .page-footer .page-footer-inner {
        width: 100%;
        color: white !important;
    }
</style>
<div class="login">
    <!-- BEGIN LOGO -->
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" action="">
            <h3 class="form-title font-green">登录</h3>
            <div class="alert alert-danger ">
                <span style="font-size: larger"> 此页面仅供开发使用，请使用 tp+apikey 链接认证！ </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">用户名</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"
                       placeholder="账号" ng-model="vm.username"/></div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">密码</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                       placeholder="密码" ng-model="vm.password"/></div>
            <div class="form-actions">
                <button type="button" ng-click="vm.doLogin()" style="background-color: aquamarine;width: 100%;"
                        class="btn green uppercase">登录
                </button>
                <label class="rememberme check mt-checkbox mt-checkbox-outline" style="margin-top: 5px;margin-left: 0;">
                    <input style="margin: 0 8px 0 0;" type="checkbox" ng-model="vm.rememberMe" value="1"/>保持登录
                    <span></span>
                </label>
            </div>

        </form>
        <!-- END LOGIN FORM -->

    </div>
    <div data-ng-include="'app/tpl/footer.html'" data-ng-controller="FooterController" class="page-footer"></div>
</div>
